:root {
  --base-size: 900;
}

@font-face {
    font-family: 'Heavy Data';
    src: url('https://jackworman.com/Snake/fonts/heavy-data.ttf');
}
@font-face {
	font-family: 'VT323';
	src: url('https://jackworman.com/Snake/fonts/vt323.ttf') format('truetype');
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  text-align: center;
}

#span-fps {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(16 * 100vmin / var(--base-size));
}

#div-header-container {
  width: calc(690 * 100vmin / var(--base-size) + 2px);
  margin: 0 auto;
  user-select: none;
}

#span-title {
  font-family: 'Heavy Data';
  font-size: calc(100 * 100vmin / var(--base-size));
}

#div-score-container {
  font-family: 'VT323';
  font-size: calc(48 * 100vmin / var(--base-size));
  color: white;
}

#span-highscore {
  float: left;
}

#span-score {
  float: right;
}

#canvas-foreground {
  display: inline-block;
  position: relative;
  border: 1px solid white;
}
