@font-face {
    font-family: 'Heavy Data';
    src: url('https://jackworman.com/Snake/fonts/heavy-data.ttf');
}
@font-face {
	font-family: 'VT323';
	src: url('https://jackworman.com/Snake/fonts/vt323.ttf') format('truetype');
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  text-align: center;
}

#button-settings {
  position:absolute;
  top:0;
  right:0;
}

#header-container {
  width: 692px;
  margin: 0 auto;
}

#span-title {
  font-family: 'Heavy Data';
  font-size: 100px;
}

#div-score-container {
  font-family: 'VT323';
  font-size: 48px;
  color: white;
}

#span-highscore {
  float: left;
}

#span-score {
  float: right;
}

#canvas-container {
  height: 692px;
  width: 692px;
  display: inline-block;
  position: relative;
  cursor: none;
}

#canvas-foreground {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  border: 1px solid white;
}
