@font-face {
  font-family: 'Cascadia';
  src: url('https://jackworman.com/TypingTrainer/fonts/Cascadia.ttf');
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Cascadia';
}

#span-title {
  font-size: 50px;
}

div {
  width: 50vw;
  margin: 20px auto;
  font-size: 20px;
}

.indicator {
  background-color: white;
  color: black
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

#div-text-container {
  border: 1px solid white;
  padding: 2px;
}
#div-canvas-container {
  border: 1px solid white;
  padding: 2px;
}

#div-canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-highlight {
  z-index: 0;
}

#canvas-keyboard {
  z-index: 1;
}
