@font-face{
	font-family: 'Forty Second Street';
	src: url('https://jackworman.com/Asteroids/fonts/forty-second-street.woff') format('woff');
}
@font-face{
	font-family: 'Distant Galaxy';
	src: url('https://jackworman.com/Asteroids/fonts/distant-galaxy.woff') format('woff');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  text-align: center;
}

#div-header-container {
  color: white;
  width: 802px;
  margin: 0 auto;
}

#span-title {
  font-family: 'Forty Second Street';
  font-size: 64px;
}

#div-score-container {
  font-family: 'Distant Galaxy';
  font-size: 32px;
}

#span-highscore {
  float: left;
}

#span-score {
  float: right;
}

#canvas-foreground {
  border: 1px solid white;
}
