:root {
  --base-size: 900;
}

@font-face {
	font-family: 'Forty Second Street';
	src: url('./fonts/forty-second-street.woff') format('woff');
}
@font-face {
	font-family: 'VT323';
	src: url('./fonts/vt323.ttf') format('truetype');
}

.noselect {
  user-select: none;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  text-align: center;
  color: white;
  cursor: crosshair;
}

#span-fps {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(16 * 100vmin / var(--base-size));
}

#div-header-container {
  width: calc(690 * 100vmin / var(--base-size) + 2px);
  margin: 0 auto;
}

#span-title {
  font-family: 'Forty Second Street';
  font-size: calc(64 * 100vmin / var(--base-size));
}

#div-score-container {
  font-family: 'VT323';
  font-size: calc(48 * 100vmin / var(--base-size));
}

#span-highscore {
  float: left;
}

#span-score {
  float: right;
}

#canvas-foreground {
  border: 1px solid white;
}
