html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  text-align: center;
}

#span-title {
  font-size: 64px;
  color: white;
}

#canvas-container {
  height: 802px;
  width: 802px;
  display: inline-block;
  position: relative;
}

#canvas-board, #canvas-pieces {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid black;
}

#canvas-board {
  z-index: 0;
}

#canvas-pieces {
  z-index: 1;
}
