html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  text-align: center;
  color: white;
}

#span-fps {
  position: absolute;
  top: 0;
  left: 0;
}

#div-header-container {
  width: 900px;
  margin: 0 auto;
}

#span-title {
  font-size: 64px;
}

#div-score-container {
  font-size: 48px;
}

#span-highscore {
  float: left;
}

#span-score {
  float: right;
}

#canvas-background {
  border: 1px solid white;
}
